.home-button {
    display: inline-flex;
    background-color: #e60026; 
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border: 2px solid #e60026; 
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.home-button:hover {
    background-color: #fff;
    color: #e60026;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: calc(33.33% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product-card p {
    font-size: 16px;
    color: #777;
}

.price {
    font-size: 18px;
    color: #ff5722;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #e74c3c;
}
.product-card a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.product-card a:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 100%;
    }
}