/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #01796f;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.site-title {
    font-size: 24px;
}

.container {
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.contact-method {
    flex: 1;
    text-align: center;
}

.large-icon {
    width: 80px;
}

.contact-details {
    font-size: 18px;
    margin: 10px 0;
}

.details {
    text-align: left;
    margin-top: 20px;
}

.details h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
    text-align: left;
}

.home-button {
    display: inline-flex;
    background-color: #e60026; /* Rouge algérien */
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border: 2px solid #e60026; /* Ajoute une bordure */
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.home-button:hover {
    background-color: #fff;
    color: #e60026;
}
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        text-align: center;
    }

    .contact-method {
        margin: 20px 0;
    }

    .large-icon {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .contact-details {
        font-size: 14px;
    }
}